body {
   padding: 1em;
   text-align: center;
}

ul {
    text-align: left;
    font-size: 18px;
}
ul li a {
    display:block;
    padding: 5px;
}
input {
    padding: 5px 10px;
}
button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: 1px solid #666;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
}